* {
    box-sizing: border-box;
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: auto;
}


h1,
h4 {
    text-align: center;
    color: #7D9D9C;
}

h3 {
    text-align: center;
    color: #395144;
}

.jumbotron {
    background-color: #395144;
    border-bottom: 3px solid #7D9D9C;
}

.card-deck {
    padding-top: 5%;
}

.input-btn {
    width: 100%;
    border: 1px solid #576F72;
    margin-bottom: 5%;
    outline: #395144;
}

#search-btn {
    color: white;
}

.cityButton {
    width: 100%;
    padding: 5%;
}

.cityButton:hover {
    background-color: #395144;
}

.content-card {
    border: 1px solid #395144;
}

#weather-panel {
    background-color: #7D9D9C;
    margin-bottom: 3%;
}

@media screen and (max-width: 768px) {

    main,
    header {
        flex-direction: column;
    }
}